<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Réinitialisation du mot de passe</title>
</head>
<body>
  <p>Bonjour {{ name }},</p>

  <p>Vous avez demandé la réinitialisation de votre mot de passe sur <strong>{{ project_name }}</strong>.</p>

  <p>Veuillez utiliser le code ci-dessous pour poursuivre le processus :</p>

  <h2 style="color: #1F4283;">{{ otp }}</h2>

  <p>Ce code est valable pendant quelques minutes. Ne le partagez avec personne.</p>

  <p>Si vous n’êtes pas à l’origine de cette demande, veuillez ignorer cet email.</p>

  <p>Merci,<br>L’équipe {{ project_name }}</p>
</body>
</html>
